[MESSAGES CONTROL]
disable=locally-disabled,
  multiple-statements,
  line-too-long,
  missing-function-docstring,
  missing-module-docstring,
  missing-class-docstring,
  missing-final-newline,
  redefined-outer-name,
  redefined-builtin

indent-string='  '
max-args=10

[FORMAT]
variable-rgx=^[a-z_][a-z0-9_]{0,30}$
argument-rgx=^[a-z_][a-z0-9_]{0,30}$
attr-rgx=^[a-z_][a-z0-9_]{0,30}$